<mat-card>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-card-header>
                    <mat-card-title class="title-red">TODO APP</mat-card-title>
                    <mat-card-title class="title-black">Reset Password</mat-card-title>
                    <mat-card-subtitle>Please choose your new password</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form class="example-form">
                        <div>
                            <label>New password</label>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-icon matPrefix>lock</mat-icon>
                                <input type="password" matInput placeholder="naruto.alish@gmail.com">
                                <mat-icon matSuffix>visibility</mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <label>Confirm password</label>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-icon matPrefix>lock</mat-icon>
                                <input type="password" matInput placeholder="naruto.alish@gmail.com">
                                <mat-icon matSuffix>visibility</mat-icon>
                            </mat-form-field>
                        </div>
                        <mat-card-actions>
                            <a class="reset" routerLink="/forgot-password">forgot password?</a>
                          </mat-card-actions>
                        <mat-card-actions>
                            <button mat-raised-button>Reset password</button>
                        </mat-card-actions>
                        <mat-card-actions class="register">
                            <span>Not registered yet ? </span>
                            <a routerLink="/register">Create new account</a>
                          </mat-card-actions>
                    </form>
                </mat-card-content>
            </td>
            <td>
                <img mat-card-image src="../../assets/resetpass.png" alt="reset password icon image">
            </td>
        </tr>
    </table>
</mat-card>