.mat-form-field {
    width: 100%;
}
.mat-dialog-actions {
    float: right;
    .cancel {
        color: #BE263B;
    }
    .add {
        background: #be263b;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 5px;
    }
}
