<h1 mat-dialog-title>Create task<button style="float: right;" mat-button mat-dialog-close>x</button></h1>
<form [formGroup]="taskForm" class="example-form">
    <div mat-dialog-content>
        <label>Task name</label>
        <mat-form-field appearance="fill">
            <input placeholder="Enter task name" formControlName="task" matInput>
        </mat-form-field>
        <mat-error *ngIf="taskform.task.invalid && (taskform.task.dirty || taskform.task.touched)" class="alert">
            <span><img src="../../assets/alert.png" alt="Task is required"></span><span>Task is blank</span>
        </mat-error>
        <div class="row">
            <div class="col-sm">
                <label>Choose list</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="list" *ngIf="data">
                        <span *ngFor="let listData of data.list">
                        <mat-option value={{listData.id}}>{{listData.list}}</mat-option></span>
                    </mat-select>
                </mat-form-field>
                <mat-error *ngIf="taskform.list.invalid && (taskform.list.dirty || taskform.list.touched)" class="alert">
                    <span><img src="../../assets/alert.png" alt="Task is required"></span><span>List is blank</span>
                </mat-error>
            </div>
            <div class="col-sm">
                <label>Choose priority</label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="priority">
                        <mat-option value="High">High</mat-option>
                        <mat-option value="Medium">Medium</mat-option>
                        <mat-option value="Low">Low</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-error *ngIf="taskform.priority.invalid && (taskform.priority.dirty || taskform.priority.touched)" class="alert">
                    <span><img src="../../assets/alert.png" alt="Task is required"></span><span>List is blank</span>
                </mat-error>
            </div>
            <div class="col-sm">
                <label>Set date and time</label>
                <mat-form-field appearance="outline">
                    <input matInput type="datetime-local" formControlName="time" placeholder="Choose date and time">
                    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-error *ngIf="taskform.time.invalid && (taskform.time.dirty || taskform.time.touched)" class="alert">
                    <span><img src="../../assets/alert.png" alt="Task is required"></span><span>Time is blank</span>
                </mat-error>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button class="cancel" mat-raised-button (click)="onNoClick()">Cancel</button>
        <button [disabled]="taskForm.invalid" type="submit" class="add" mat-dialog-close (click)="createTask()" mat-raised-button cdkFocusInitial>Add task</button>
    </div>
</form>