<mat-card>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-card-header>
                    <mat-card-title class="title-red">TODO APP</mat-card-title>
                    <mat-card-title class="title-black">Welcome to TODO App</mat-card-title>
                    <mat-card-subtitle>Set your password</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form class="example-form">
                        <div>
                            <label>Password</label>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-icon matPrefix>lock</mat-icon>
                                <input type="password" matInput placeholder="naruto.alish@gmail.com">
                                <mat-icon matSuffix>visibility</mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <label>Re-enter password</label>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-icon matPrefix>lock</mat-icon>
                                <input type="password" matInput placeholder="naruto.alish@gmail.com">
                                <mat-icon matSuffix>visibility</mat-icon>
                            </mat-form-field>
                        </div>
                        <mat-card-actions>
                            <a class="reset" routerLink="/forgot-password">forgot password?</a>
                          </mat-card-actions>
                        <mat-card-actions>
                            <button mat-raised-button>Signup</button>
                        </mat-card-actions>
                        <mat-card-actions class="register">
                            <span>Already have an account ? </span>
                            <a routerLink="/login">Login</a>
                          </mat-card-actions>
                    </form>
                </mat-card-content>
            </td>
            <td>
                <img mat-card-image src="../../assets/rocketicon.png" alt="reset password icon image">
            </td>
        </tr>
    </table>
</mat-card>