<mat-card>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-card-header>
                    <mat-card-title class="title-red">TODO APP</mat-card-title>
                    <mat-card-title class="title-black">Welcome to TODO App</mat-card-title>
                    <mat-card-subtitle>Set your password</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form class="example-form" [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()">
                        <div>
                            <label>Password</label>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-icon matPrefix>lock</mat-icon>
                                <input type="password" matInput placeholder="Enter your password"
                                    [type]="hide ? 'password': 'text'" formControlName="password" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility': 'visibility_off'}}
                                </mat-icon>
                            </mat-form-field>
                            <mat-error>
                                <p [class]="setPasswordForm.controls.password.errors?.minlength? 'red': 'green'"
                                    *ngIf="!setPasswordForm.controls.password.hasError('required') ">Must be at least
                                    8 characters</p>
                                <p [class]="setPasswordForm.controls.password.errors?.hasNumber? 'red': 'green'"
                                    *ngIf="!setPasswordForm.controls.password.hasError('required')">Must contain 1
                                    number</p>
                                <p [class]="setPasswordForm.controls.password.errors?.hasUpperCase? 'red':'green'"
                                    *ngIf="!setPasswordForm.controls.password.hasError('required')">Must be at least
                                    1 Capital case</p>
                                <p
                                    [class]="setPasswordForm.controls.password.errors?.hasSpecialCharacter? 'red':'green'"
                                    *ngIf="!setPasswordForm.controls.password.hasError('required')">Must contain at
                                    least 1 special character</p>

                            </mat-error>
                        </div>
                        <div>
                            <label>Re-enter password</label>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-icon matPrefix>lock</mat-icon>
                                <input type="password" matInput placeholder="Confirm your password"
                                    [type]="hideconfirm ? 'password': 'text'" formControlName="confirmPassword"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                <mat-icon matSuffix (click)="hideconfirm = !hideconfirm">{{ hideconfirm ? 'visibility':
                                    'visibility_off'}}
                                </mat-icon>
                            </mat-form-field>
                            <mat-error *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.pattern">Password pattern doesnt matched</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </mat-error>
                        </div>
                        <mat-card-actions>
                            <a class="reset" routerLink="/forgot-password">forgot password?</a>
                        </mat-card-actions>
                        <mat-card-actions>
                            <button mat-raised-button>Signup</button>
                        </mat-card-actions>
                        <mat-card-actions class="register">
                            <span>Already have an account ? </span>
                            <a routerLink="/login">Login</a>
                        </mat-card-actions>
                    </form>
                </mat-card-content>
            </td>
            <td>
                <img mat-card-image src="../../assets/rocketicon.png" alt="reset password icon image">
            </td>
        </tr>
    </table>
</mat-card>