<mat-card>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-card-header>
                    <mat-card-title class="title-red">TODO APP</mat-card-title>
                    <mat-card-title class="title-black">Forgot your password ?</mat-card-title>
                    <mat-card-subtitle>Enter your registered emial below to recieve code!</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form class="example-form">
                        <div>
                            <label>Email</label>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-icon matPrefix>email</mat-icon>
                                <input type="email" matInput placeholder="naruto.alish@gmail.com">
                                <mat-icon matSuffix>done</mat-icon>
                            </mat-form-field>
                        </div>
                        <mat-card-actions>
                            <button type="button" mat-raised-button (click)="openDialog()">Send</button>
                        </mat-card-actions>
                        <mat-card-actions class="login">
                            <a routerLink="/login">Login</a>
                        </mat-card-actions>
                    </form>
                </mat-card-content>
            </td>
            <td>
                <img mat-card-image src="../../assets/forgot pass.png" alt="forgot password icon image">
            </td>
        </tr>
    </table>
</mat-card>