/* You can add global styles to this file, and also import other style files */
@use "app/shared/variables/variable.scss" as *;

html, body { 
    height: 100%;
    max-width: 1440px;
    margin: auto;
 }
body {
     margin: 0; 
     font-family: Roboto, "Helvetica Neue", sans-serif; 
     background-color: $color-background;
    }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
