<mat-card>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-card-header>
                    <mat-card-title class="title-red">TODO APP</mat-card-title>
                    <mat-card-title class="title-black">Let's get started</mat-card-title>
                    <mat-card-subtitle>Create an account to get started with TODO APP</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form class="example-form">
                        <div>
                            <label>Name</label>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-icon matPrefix>person</mat-icon>
                                <input type="text" matInput placeholder="naruto.alish@gmail.com">
                            </mat-form-field>
                        </div>
                        <div>
                            <label>Gender</label>
                        </div>
                        <div>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="male">Male</mat-radio-button>
                                <mat-radio-button value="female">Female</mat-radio-button>
                                <mat-radio-button value="others">Others</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <br>
                        <div>
                            <label>DOB</label>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div>
                            <label>Phone</label>
                        </div>
                        <div>
                            <table class="example-full-width" cellspacing="0">
                                <tr>
                                    <td>
                                        <mat-form-field class="country-code" appearance="outline">
                                            <mat-select>
                                                <mat-option value="Nepal"><span matPrefix><img
                                                            src="https://img.icons8.com/color/16/000000/nepal.png" /></span>Nepal
                                                    (+977)</mat-option>
                                                <mat-option><span matPrefix><img
                                                            src="https://img.icons8.com/color/16/000000/nepal.png" /></span>Austerlia
                                                    (+01)</mat-option>
                                                <mat-option><span matPrefix><img
                                                            src="https://img.icons8.com/color/16/000000/nepal.png" /></span>US
                                                    (+1)</mat-option>
                                                <mat-option><span matPrefix><img
                                                            src="https://img.icons8.com/color/16/000000/nepal.png" /></span>Malaysia
                                                    (+994)</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field class="phone-number" appearance="outline">
                                            <mat-icon matPrefix>phone</mat-icon>
                                            <input matInput type="tel" placeholder="(+977) 000 000 0000">
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <label>Email address</label>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-icon matPrefix>email</mat-icon>
                                <input type="email" matInput placeholder="naruto.alish@gmail.com">
                            </mat-form-field>
                        </div>
                        <mat-card-actions>
                            <button class="glow-on-hover" type="submit" routerLink="/set-password" mat-raised-button>Next</button>
                        </mat-card-actions>
                        <mat-card-actions class="login">
                            <span>Already have an account ? </span>
                            <a routerLink="/login">Login</a>
                        </mat-card-actions>
                    </form>
                </mat-card-content>
            </td>
            <td>
                <img mat-card-image src="../../assets/rocketicon.png" alt="register rocket icon image">
            </td>
        </tr>
    </table>
</mat-card>