<mat-card>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-card-header>
                    <mat-card-title class="title-red">TODO APP</mat-card-title>
                    <mat-card-title class="title-black">Let's get started</mat-card-title>
                    <mat-card-subtitle>Create an account to get started with TODO APP</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="registerForm" class="example-form" (ngSubmit)="onSubmit()">
                        <div>
                            <label>Name</label>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-icon matPrefix>person</mat-icon>
                                <input type="text" class="form-control" matInput placeholder="naruto.alish@gmail.com"
                                    formControlName="name">
                            </mat-form-field>
                        </div>
                        <mat-error
                            *ngIf="registerform.name.invalid && (registerform.name.dirty || registerform.name.touched)"
                            class="alert">
                            <span><img src="../../assets/alert.png" alt="alert incorret email"></span><span>Name is
                                required</span>
                        </mat-error>
                        <div>
                            <label>Gender</label>
                        </div>
                        <div>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="male" required>Male</mat-radio-button>
                                <mat-radio-button value="female" required>Female</mat-radio-button>
                                <mat-radio-button value="others" required>Others</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <br>
                        <div>
                            <label>DOB</label>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput [matDatepicker]="picker" class="form-control" formControlName="dob">
                                <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <mat-error
                            *ngIf="registerform.dob.invalid && (registerform.dob.dirty || registerform.dob.touched)"
                            class="alert">
                            <span><img src="../../assets/alert.png" alt="alert incorret email"></span><span>Date of
                                birth is required</span>
                        </mat-error>
                        <div>
                            <label>Phone</label>
                        </div>
                        <div>
                            <table class="example-full-width" cellspacing="0">
                                <tr>
                                    <td>
                                        <mat-form-field class="country-code" appearance="outline">
                                            <mat-select>
                                                <mat-option value="Nepal"><span matPrefix><img
                                                            src="https://img.icons8.com/color/16/000000/nepal.png" /></span>Nepal
                                                    (+977)</mat-option>
                                                <mat-option value="Aus"><span matPrefix><img
                                                            src="https://img.icons8.com/color/16/000000/nepal.png" /></span>Austerlia
                                                    (+01)</mat-option>
                                                <mat-option value="US"><span matPrefix><img
                                                            src="https://img.icons8.com/color/16/000000/nepal.png" /></span>US
                                                    (+11)</mat-option>
                                                <mat-option value="Mal"><span matPrefix><img
                                                            src="https://img.icons8.com/color/16/000000/nepal.png" /></span>Malaysia
                                                    (+994)</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field class="phone-number" appearance="outline">
                                            <mat-icon matPrefix>phone</mat-icon>
                                            <input matInput type="tel" placeholder="(+977) 000 000 0000"
                                                class="form-control" formControlName="phone">
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                            <mat-error
                                *ngIf="registerform.phone.invalid && registerform.phone.errors &&  (registerform.phone.dirty || registerform.phone.touched)"
                                class="alert">
                                <span><img src="../../assets/alert.png" alt="alert incorret email"></span><span>Phone is
                                    required</span>
                            </mat-error>
                            <mat-error
                                *ngIf="registerform.country.invalid && (registerform.country.dirty || registerform.country.touched)"
                                class="alert">
                                <span>
                                    <img src="../../assets/alert.png" alt="alert incorret email"></span><span>Select
                                    your country</span>
                            </mat-error>
                        </div>
                        <div>
                            <label>Email address</label>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-icon matPrefix>email</mat-icon>
                                <input type="email" class="form-control" matInput placeholder="naruto.alish@gmail.com"
                                    formControlName="email">
                            </mat-form-field>
                        </div>
                        <mat-error
                            *ngIf="registerform.email.invalid && (registerform.email.dirty || registerform.email.touched)"
                            class="alert">
                            <span><img src="../../assets/alert.png" alt="alert incorret email"></span><span>Email is
                                required</span>
                        </mat-error>
                        <mat-card-actions>
                            <button [disabled]="registerForm.invalid" type="submit" routerLink="/set-password"
                                mat-raised-button>Next</button>
                        </mat-card-actions>
                        <mat-card-actions class="login">
                            <span>Already have an account ? </span>
                            <a routerLink="/login">Login</a>
                        </mat-card-actions>
                    </form>
                </mat-card-content>
            </td>
            <td>
                <img mat-card-image src="../../assets/rocketicon.png" alt="register rocket icon image">
            </td>
        </tr>
    </table>
</mat-card>